<% provide(:title, 'Contact Us') %>

<h1>Contact Us</h1>
<p>
<<<<<<< HEAD
<<<<<<< HEAD
	Contact us by e-mailing <a href="mailto:steven@scorbord.com">steven@scorbord.com</a> or calling him up!
=======
	Shoot us an email at <a href="mailto:steven@scorbord.com">steven@scorbord.com</a> or call us today!
>>>>>>> filling-in-layout
=======
	Shoot us an email at <a href="mailto:steven@scorbord.com">steven@scorbord.com</a> or call us today!
>>>>>>> filling-in-layout
</p>