<div class="center hero-unit">
	<h1>scRORbord</h1>

	<h2>
		This is the home page for the RoR implementation of scorbord.
	</h2>

	<%= link_to "Sign up RIGHT NOW!", signup_path, class: "btn btn-large btn-primary" %>
</div>